# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2024 Univention GmbH
---
include:
  - project: "univention/dev/nubus-for-k8s/common-ci"
    ref: "v1.44.2"
    file:
      - "defaults/stages.yaml"
      - "defaults/nubus-workflow.yaml"
      - "jobs/lint-pre-commit.yaml"
      - "jobs/lint-commit-messages.yaml"
      - "jobs/semantic-release-env.yaml"
      - "jobs/package-and-publish-helm-charts-external.yaml"

variables:
  IMAGE_NAME: "keycloak"

lint-pre-commit:
  before_script:
    - "helm repo add bitnami https://charts.bitnami.com/bitnami"

chart-tests:
  image: "gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/common-helm/testrunner:0.28.11@sha256:ec1f5b80071caab3f396b6cd7742eb95a0cfe5c6cfb9683cbaeeb83b92772c0f"
  stage: "test"
  needs: []
  script:
    - "helm dep build helm/keycloak"
    - "pytest -vv helm-unittests"

.package-helm-charts:
  variables:
    SKIP_UPDATE_HELM_VALUES: "true"
  before_script:
    - "helm repo add bitnami https://charts.bitnami.com/bitnami"

...
