# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2024 Univention GmbH

---
apiVersion: "v1"
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" . | quote }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" .Values.additionalLabels "context" . ) | nindent 4 }}
  {{- include "nubus-common.annotations.render" ( dict
    "values" ( list .Values.additionalAnnotations )
    "context" . )
    | nindent 2 }}
data:
  KEYCLOAK_PASSWORD_CHANGE_ENDPOINT: {{ printf "%s.%s" .Values.global.subDomains.portal .Values.global.domain | quote }}
  KC_LOG_LEVEL: {{ .Values.config.logLevel | quote }}
  KC_HOSTNAME: {{ .Values.config.hostname | default (printf "https://%s.%s" .Values.global.subDomains.keycloak .Values.global.domain) | quote }}
  KC_PROXY: {{ .Values.config.proxy | quote }}
  KC_DB: "postgres"
  # https://www.keycloak.org/server/caching
  KC_CACHE: "ispn"
  # https://www.keycloak.org/server/caching#_available_transport_stacks
  KC_CACHE_STACK: "jdbc-ping"
  KC_METRICS_ENABLED: "true"
  KC_HOSTNAME_BACKCHANNEL_DYNAMIC: "true"
  KC_HTTP_ENABLED: "true"
  KC_PROXY_HEADERS: "xforwarded"

  KC_DB_URL_HOST: {{ include "keycloak.postgresql.connection.host" . | quote }}
  KC_DB_URL_PORT: {{ include "keycloak.postgresql.connection.port" . | quote }}
  KC_DB_URL_DATABASE: {{ include "keycloak.postgresql.auth.database" . | quote }}

  UNIVENTION_THEME: {{ include "keycloak.style.themeUrl" . | quote }}
  UNIVENTION_CUSTOM_THEME: {{ include "keycloak.style.customUrl" . | quote }}
  UNIVENTION_FAVICON: {{ include "keycloak.style.faviconUrl" . | quote }}

  CACHE_OWNERS_COUNT: {{ .Values.replicaCount | quote }}
  CACHE_OWNERS_AUTH_SESSIONS_COUNT: {{ .Values.replicaCount | quote }}
  # Needed for the headless service
  PROXY_ADDRESS_FORWARDING: "true"
  JAVA_OPTS_APPEND: {{ printf "-Djgroups.dns.query=%s.%s.svc.cluster.local" (include "common.names.fullname" . ) ( include "common.names.namespace" . ) }}
...
